*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: gray;
}
header{
    height: 14%;
    width: 100%;
    background-color: #28282B;
}
.lisr{
    height: 100%;
    width: 35%;
    float: left;
}
.lisr a{
    text-decoration: none;
    color: white;
}
.logo{
    height: 100%;
    width: 30%;
    float: left;
}
img[src="samurai.png"]{
    height: 88%;
    width: 55%;
    float: right;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 5px;   
}
.titre{
    height: 100%;
    width: 70%;
    float: left;
    color: white;
    font-size: xx-large;
    margin-top: 8px;
}
.limn{
    height: 100%;
    width: 65%;
    float: left;
    display: inline-flex;
    justify-content: space-around;
}
.limn a{
    margin-top: 50px;
    color: white;
    font-size: x-large;
    margin: auto;
    text-decoration: none;
}
section{
    height: 80%;
    width: 100%;
    background-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table{
    height: 95%;
    width: 95%;
    margin: auto;
    border: solid;
    border-color: #008080;
    background-color: white;
}
td{
    border: solid;
    border-color: #008080;
    padding-left: 10px;
}
th{
    border: solid;
    border-color: #008080;
    padding-left: 10px;
    font-size: x-large;    
}
footer{
    height: 6%;
    width: 100%;
    background-color: #28282B;
    color: white;
    text-align: center;
    font-size: xx-large;
}
@media screen and (min-width: 1100px) and (max-width: 1150px){
.logo{
    height: 100%;
    width: 33%;
    float: left;
}
img[src="samurai.png"]{
    display: block;
    margin: auto;
    height: 80%;
    width: 57%;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 10px;   
}
.titre{
    height: 100%;
    width: 67%;
    float: left;
    color: white;
    font-size: 28px;
}
}
@media screen and (min-width: 1000px) and (max-width: 1099px){
.logo{
    height: 100%;
    width: 33%;
    float: left;
}
img[src="samurai.png"]{
    display: block;
    margin: auto;
    height: 80%;
    width: 57%;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 10px;   
}
.titre{
    height: 100%;
    width: 67%;
    float: left;
    color: white;
    font-size: 28px;
}
}
@media screen and (min-width: 990px) and (max-width: 999px){
.logo{
    height: 100%;
    width: 30%;
    float: left;
}
  img[src="samurai.png"]{
    display: block;
    margin: auto;
    height: 76%;
    width: 72%;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 10px;   
}
.titre{
    height: 100%;
    width: 65%;
    float: left;
    color: white;
    font-size: 28px;
    margin-top: 14px;
}
}
@media screen and (min-width: 970px) and (max-width: 989px){
.logo{
    height: 100%;
    width: 28%;
    float: left;
}
  img[src="samurai.png"]{
    display: block;
    margin: auto;
    height: 74%;
    width: 75%;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 10px;   
}
.titre{
    height: 100%;
    width: 64%;
    float: left;
    color: white;
    font-size: 28px;
    margin-top: 14px;
}
}
@media screen and (min-width: 868px) and (max-width: 969px){
.lisr{
    height: 100%;
    width: 35%;
    float: left;
}
.logo{
    display: none;
    height: 100%;
    width: 33%;
    float: left;
}
img[src="samurai.png"]{
    display: none;
    margin: auto;
    height: 88%;
    width: 55%;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 5px;   
}
.titre{
    margin-left: 50px;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 25px;
    margin-top: 14px;
}
}
@media screen and (min-width: 784px) and (max-width: 867px){
.lisr{
    height: 100%;
    width: 35%;
    float: left;
}
.logo{
    display: none;
    height: 100%;
    width: 33%;
    float: left;
}
img[src="samurai.png"]{
    display: none;
    margin: auto;
    height: 88%;
    width: 55%;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 5px;   
}
.titre{
    margin-left: 50px;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 25px;
    margin-top: 14px;
}
}
@media screen and (min-width: 741px) and (max-width: 783px){
.lisr{
    height: 100%;
    width: 35%;
    float: left;
}
.logo{
    display: none;
    height: 100%;
    width: 33%;
    float: left;
}
img[src="samurai.png"]{
    display: none;
    margin: auto;
    height: 88%;
    width: 55%;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 5px;   
}
.titre{
    margin-left: 50px;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 25px;
    margin-top: 14px;
}
}
@media screen and (min-width: 630px) and (max-width: 740px){
.lisr{
    height: 100%;
    width: 35%;
    float: left;
}
.logo{
    display: none;
    height: 100%;
    width: 33%;
    float: left;
}
img[src="samurai.png"]{
    display: none;
    margin: auto;
    height: 88%;
    width: 55%;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 5px;   
}
.titre{
    margin-left: 50px;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 25px;
    margin-top: 14px;
}
}
@media screen and (min-width: 515px) and (max-width: 629px){
.lisr{
    height: 100%;
    width: 35%;
    float: left;
}
.logo{
    display: none;
    height: 100%;
    width: 33%;
    float: left;
}
img[src="samurai.png"]{
    display: none;
    margin: auto;
    height: 88%;
    width: 55%;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 5px;   
}
.titre{
    margin-left: 50px;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 25px;
    margin-top: 14px;
}
}
@media screen and (min-width: 475px) and (max-width: 514px){
.lisr{
    height: 100%;
    width: 35%;
    float: left;
}
.logo{
    display: none;
    height: 100%;
    width: 33%;
    float: left;
}
img[src="samurai.png"]{
    display: none;
    margin: auto;
    height: 88%;
    width: 55%;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 5px;   
}
.titre{
    margin-left: 30px;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 22px;
    margin-top: 14px;
}
section{
    height: 80%;
    width: 100%;
    background-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table{
    height: 95%;
    width: 95%;
    margin: auto;
    border: solid;
    border-color: #008080;
    background-color: white;
}
td{
    border: solid;
    border-color: #008080;
    padding-left: 10px;
}
}